body{
    font: 20px Arial, sans serif;
}

.navbar{
    background-color: #D0FEFE;
    color: white;

}

.quem-somos{
    background-color: #1F3B4D;
    color: white;
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{
    background-color: #D0FEFE;
}

.bg-footer{
    background-color: black;
    color: white;
}